<div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Lista de Articulos</h1>
   <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form">
                <i class="fa fa-search"></i>
                <input type="search" [(ngModel)]="filterPost" name="filterPost" class="form-control form-input" placeholder="Search Item...">
                </div>
            </div>
        </div>
    </div>
           
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
            <th>Eliminar</th>
        </tr>
    </thead>

<tbody>
    <!--tratando de hacer el paginado hay q importar una libreria  ver documentacion http://michaelbromley.github.io/ngx-pagination/#/
         | paginate: {itemsPerPage:5, currentPage:page} -->
    <tr *ngFor="let item of items  | filter: filterPost | paginate: { itemsPerPage: 3, currentPage: page }" [ngClass]="{'clearance':item.clearance}">
        <!-- con el, item.id le estoy pasando el parametro a la pagina-->
        <td>
            <app-view-item [articulo]="item"></app-view-item>
        </td>
        <td>{{item.name | uppercase}}</td>
        <td>{{item.type | uppercase}}</td>
        <td>{{item.mark | uppercase}}</td>
        <td>{{item.price|currency}}</td>
        <td><span class="badge bg-warning text-dark" *ngIf="item.stock==0">SIN STOCK</span>
        <span class="badge bg-secundary text-dark" *ngIf="item.stock!=0" >{{item.stock}}</span> </td>
        <td>
            <div class="input-group">
                <app-input-number [(quantity)]="item.quantity" [max]="item.stock" *ngIf="item.stock"></app-input-number>
                <!-- quantity y max viene desde nuestro componente @Input osea que le estamos mandando parametros al componente-->
            </div>
        </td>
        <td> 
            <span class="btn btn-primary cursor">

            <i  class="fa-sharp fa-solid fa-cart-plus"(click)="addToCart(item)" (click)="valueStock(item)"></i>
        </span>

        </td>
        <td>
            <span class="btn btn-danger cursor">
                <i class="fa-solid fa-trash" (click)="remove(item)"></i>
            </span>
        </td>
    </tr>
   
</tbody>
</table>
<pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls> 
</div>
<div class="col-4">
    <app-cart></app-cart>
   
  </div>
</div>

</div>  