<h1>Lista de Cerbezas</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
        </tr>
    </thead>

<tbody>
    
    <tr *ngFor="let item of items" [ngClass]="{'clearance':item.clearance}">
        <td><img width="90" class="img-thumbnail"[src]="item.image" [alt]="item.name"></td>
        <td>{{item.name | uppercase}}</td>
        <td>{{item.type | uppercase}}</td>
        <td>{{item.mark | uppercase}}</td>
        <td>{{item.price|currency}}</td>
        <td><span class="badge bg-warning text-dark" *ngIf="item.stock==0">SIN STOCK</span> </td>
        <td>
            <div class="input-group">
                <app-input-number [(quantity)]="item.quantity" [max]="item.stock" *ngIf="item.stock"></app-input-number>
                <!-- quantity y max viene desde nuestro componente @Input osea que le estamos mandando parametros al componente-->
            </div>
        </td>
        <td>
            <button class="btn btn-primary" (click)="addToCart(item)">Comprar</button>
        </td>
    </tr>
  
</tbody>
</table>
