<div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Lista de Articulos</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
            <th>Eliminar</th>
        </tr>
    </thead>

<tbody>
    
    <tr *ngFor="let item of items" [ngClass]="{'clearance':item.clearance}">
        <!-- con el, item.id le estoy pasando el parametro a la pagina-->
        <td>
            <app-view-item [articulo]="item"></app-view-item>
        </td>
        <td>{{item.name | uppercase}}</td>
        <td>{{item.type | uppercase}}</td>
        <td>{{item.mark | uppercase}}</td>
        <td>{{item.price|currency}}</td>
        <td><span class="badge bg-warning text-dark" *ngIf="item.stock==0">SIN STOCK</span> </td>
        <td>
            <div class="input-group">
                <app-input-number [(quantity)]="item.quantity" [max]="item.stock" *ngIf="item.stock"></app-input-number>
                <!-- quantity y max viene desde nuestro componente @Input osea que le estamos mandando parametros al componente-->
            </div>
        </td>
        <td> 
            <span class="btn btn-primary cursor">

            <i  class="fa-sharp fa-solid fa-cart-plus"(click)="addToCart(item)"></i>
        </span>

           
        </td>
        <td>
            <span class="btn btn-danger cursor">
                <i class="fa-solid fa-trash" (click)="remove(item)"></i>
            </span>
        </td>
    </tr>
   
</tbody>
</table>

</div>
<div class="col-4">
    <app-cart></app-cart>
   
  </div>
</div>

</div>  