<form action="">
    <div>
        <label for="">Nombre de articulo</label>
        <input type="text">
    </div>
    <div>
        <label for="">Tipo de articulo</label>
        <input type="text">
    </div>
    <div>
        <label for="">Marca</label>
        <input type="text">
    </div>
    <div>
        <label for="">Precio</label>
        <input type="text">
    </div>
    <div>
        <label for="">Stock</label>
        <input type="text">
    </div>
    <div>
        <label for="">Imagen</label>
        <span>buscar como agregar imagenes</span>
    </div>
   

</form>