<div class="container">
    <div class="row">
      <div class="col-9">
        <h1>Lista de Articulos</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
<tbody>
    
    <tr *ngFor="let item of items | paginate: { itemsPerPage: 3, currentPage: page }" [ngClass]="{'clearance':item.clearance}">
        <td><img width="90" class="img-thumbnail"[src]="item.image" [alt]="item.name"></td>
        <td>{{item.name | uppercase}}</td>
        <td>{{item.type | uppercase}}</td>
        <td>{{item.mark | uppercase}}</td>
        <td>{{item.price|currency}}</td>
        <td>{{item.stock}}</td>   
    </tr>
  
</tbody>
</table>
<pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls> 

</div>
<div class="col-3">
    <h3>Agregar nuevo articulo</h3>
    <div class="form-group">
        <label for="formGroupExampleInput">Nombre de articulo</label>
        <input required [(ngModel)]="nombre"  type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre del Artticulo">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Tipo de articulo</label>
        <input required [(ngModel)]="type"  type="text" class="form-control" id="formGroupExampleInput" placeholder="Tipo de articulo">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Marca</label>
        <input required [(ngModel)]="mark"  type="text" class="form-control" id="formGroupExampleInput" placeholder="Marca">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Precio</label>
        <input required [(ngModel)]="price"  type="text" class="form-control" value="0" id="formGroupExampleInput" placeholder="$100">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Stock</label>
        <input required [(ngModel)]="stock"  type="text" class="form-control" value="0" id="formGroupExampleInput" placeholder="5">
    </div>
    
    <div class="text-center">
        <br>
        <button class="btn btn-primary " (click)="add()" >Add</button>
    </div>
  
</div>

    
   
  </div>
</div>

 